* {
    margin: 0;
    padding: 0;
}

 header {
    color: #fff;
    height: 80px;
    background: #000;
 }

.titre {
    float: left;
    color:white;
    padding-top: 7px;
    padding-left: 20px;
}

h4{
    color: gray;
    text-transform: uppercase;
    padding-top: 7px;
    height: 31px;
      }

ul {
    list-style-type: none;
    margin: 0px;
    padding-top: 35px;
}

li {
    float: right;
    width: 120px;
}

li a{
    color: #fff;
    text-decoration: none;
}

li a:hover {
    background: blue;
}

.globale{
    /* pour séparer l'img 960x360 on a ajouter un margin de 10px qui s'appliquera en haut en bas et l'auto pour à gauche et à droite qu'il définira lui-même */
    margin: 10px auto;
    width: 960px;
}

section{
   padding-bottom: 53px;
}
.article2{
    height: 163px;
    margin-top: 27px;
    width: 240px;
    float: left;
}

.article1{
    float: left;
    margin-right: 10px;
    }

article a {
    margin-left: 124px;
    color: orange;}

.clear {
    clear: both;
}

.trait {
    height:1px;
    background-color: rgba(179, 177, 177, 0.979);
}

 .image1{
    width: 309px;
    /* padding-left: 20px; */
    border: 4px double #000;
   }

.divimage{
    height: 100px;
    }
