/**** Style général ****/

*{
    padding: 0;
    margin: 0;
}

body
{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/**** HEADER ****/

.titre
{
    color: white;
    position: absolute;
    z-index: 5;
    width: 80%; 
}

h1
{
    padding-top: 23px;
    margin-left: 46%;
    font-size: 3rem;
}

h5
{
    margin-left: 49%;
}


/**** NAVIGATION NAVBAR ****/

.navbar 
{
    opacity: 30%;
    width: 100%;
    position: absolute;
    z-index: 6;
}

.navbar-toggler
{
    margin-left: 95%!important;
}

 /**** Bouton burger ****/

.fas
{
    color:white;
}


 /**** Sous-menu gauche ****/

ul.navbar-nav
{
    background-color: white;
    opacity: 0.7;
}

.navbar-collapse
{
    margin-left: 48px;
}
    

/**** Formulaire de réservation ****/ 

div.reservation
{
    position: relative;
    bottom: 94px;
    background-color: rgb(206, 206, 206);
    opacity: 0.8;
    margin: auto;
    width: 80%;
    height: 63px;
    
}


/**** Menu déroulant adresse ****/ 

 div.col-1 
 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 3.333333%!important;
 }

 div.col-2
 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 11.666667%!important;
 }

 div.col-3 
{ 
    flex: 0 0 25%!important;
    max-width: 20%!important;
    border: 15px!important;
    margin-left: 84px!important;
}

.nav-item
 {
    list-style-type: none;
    padding-left: 8px;
 }

 .nav-link
 {
    color: black!important;
    background-color: white;
    margin-top: 16px;
    height: 36px;
 }


/**** Champs location et icons calendrier ****/ 

.form-inline
{
    padding-top: 4px;
}

.form-group
{
    width: 83px;
}

.form-control
{
    width: 186px!important;
}

.form-control2
{
    margin-left: 10px;
}

/** Icon calendrier **/ 
 .far
 {
     font-weight: 500;
     color:black;
 }
 
 .buttonbg1
 {
    background-color: white;
    border: 1px solid gray;
    margin-left: 76px;
 }

.location
{
    margin-left: 16px;
}

.buttonbg2
{
    background-color: white;
    border: 1px solid gray;
    margin-left: 92px;
}

/**** Bouton de validation de la recherche ****/ 

 .buttonbg3
{
    background-color: rgb(31, 160, 85);
    border-color: rgb(31, 160, 85);
    height: 59px;
    border: 1px solid gray;
    margin-left: 99px;
    width: 294px;
}

.btn-outline-success
{
    color: #212529;
    background: #616161;
    height: 28px;
    margin-bottom: 12px;
}

/**** CONTAINER PRINCIPAL****/ 

.container
{
    width: 100%;
}

/**** Affichage des résultats ****/ 

.resultats
{
    bottom: 36px;
    position: relative;
}

p.resultats1
{
    margin-left: 22%;
    font-size: 1.5em;
}

/**** Menu croissant - décroissant ****/ 

div.dropdown
{
    margin-left: 25%;
}

.bg
{
    width: 150px;
    background: rgb(237, 237, 237);
    color: black;
    border: 0.4px solid gray;
}

div.col-6
{
    padding-left: 65px;
}


/**** flèche gauche et droite du caroussel ****/ 

.fa-angle-left
{
    color: black;
}

.fa-angle-right
{
    color: black;
}


/**** Paragraphe du caroussel ****/ 

p
{
font-size: 14px;
}


/**** Bouton réservation ****/ 

.btn-outline-reservation
{
    color: #f8f9fa;
    background: #6c757d;
    padding-top: 3px;
    width: 182px;
    height: 31px;
}

/**** FOOTER ****/ 

footer
{
    margin-top: 109px;
}  

.agence
{
    width: 171%;
    margin-left: 111px;
    margin-top: 84px;
    font-size: 16px;
}

div.col-4
{
    padding-left: 20% !important;
    flex: 0 0 33.333333%!important;
    max-width: 33.333333%!important; 
}

div.col-3
{
    margin-left: 134px !important;
}